StubForViewAllowance/WebContent/wsdl/SOAPServiceJsonProvider.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.o2.cts.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.o2.cts.com" xmlns:intf="http://service.o2.cts.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.o2.cts.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getJsonForSOAP">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getJsonForSOAPResponse">
    <complexType>
     <sequence>
      <element name="getJsonForSOAPReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getJsonForSOAPResponse">

      <wsdl:part element="impl:getJsonForSOAPResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getJsonForSOAPRequest">

      <wsdl:part element="impl:getJsonForSOAP" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SOAPServiceJsonProvider">

      <wsdl:operation name="getJsonForSOAP">

         <wsdl:input message="impl:getJsonForSOAPRequest" name="getJsonForSOAPRequest">

       </wsdl:input>

         <wsdl:output message="impl:getJsonForSOAPResponse" name="getJsonForSOAPResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SOAPServiceJsonProviderSoapBinding" type="impl:SOAPServiceJsonProvider">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getJsonForSOAP">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getJsonForSOAPRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getJsonForSOAPResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SOAPServiceJsonProviderService">

      <wsdl:port binding="impl:SOAPServiceJsonProviderSoapBinding" name="SOAPServiceJsonProvider">

         <wsdlsoap:address location="http://localhost:8080/StubForViewAllowance/services/SOAPServiceJsonProvider"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
